<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    
    <title>Vue!</title>
</head>

<body>
    <h1>  First Vue Application</h1>
    <div id="vue-app">

           Name: <input v-model="Name"/>
            <br>
           Message: <input v-model="message"  />
        <p>{{greet('Afternoon')}}: {{Name}}</p> 
        What is on the agenda today: {{message}}
        <br>


        <p>Visit your github?</p>


        <!-- data binding -->
       1. data binding from app js:<a :href="github">Ahmed's Github</a>
<br>
<br>
       2. Sourcing Html from app.js:<span v-html="webTag"></span>
<br>
<input type="text" v-bind:value="Name">

<p>My age is {{age}}</p>
<button v-on:click="age++">Add a year</button>
<button v-on:click="age--">Take a year</button>






</div>
    <!-- Sourced javascript file -->
    <!-- only works at bottom for  -->
    <!-- some reason -- more research required -->
    <script src="app.js"></script>
</body>

</html>