<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link href="styles.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"> -->
    <title>Vue!</title>
</head>

<body>

    <h1> Hyperbolic Vue </h1>
    <div id="vue-app">
<div id="words">
        Name: <input v-model="Name" />
        <input type="text" v-bind:value="Name">
        <br>
        Message: <input v-model="message" />
        <p>{{greet('Afternoon')}}: {{Name}}</p>
        What is on the agenda today: {{message}}
        <br>
        <br>
        <!-- data binding -->
        1. data binding from app js:
        <br>
        <a v-bind:href="github">Ahmed's Github</a>
        <br>
        <br>

        2. Sourcing Html from app.js:
        <br>
        <p v-html="webTag"></p>

        <p>My age is {{age}}</p>
        <!-- dont need to add parantheses to function when it is attached to an event-->

        <button @click.once="add(1)">Add a year</button>
        <button v-on:click="subtract(1)">Take a year</button>
        <br>
        <button @dblclick="add(10)">Add 10 year</button>
        <button v-on:dblclick="subtract(10)">Take 10 years</button>

    </div>
        <div id="canvas" @mousemove="updateXY">


            <p> Illicitly Indistinguishable && Illogically Immeasurable innumerable idioms</p>


            <br>
            <br>

            <div v-on:click="available=!available" v-bind:class="{available: !available}">
                <span> {{x}},{{y}} </span>
            </div>



            <br>
            <button v-on:click="a++">Add to A</button>
            <br>
            <button v-on:click="b++">Add to B</button>
            <p>A ---- {{a}}</p>
            <p>B ---- {{b}}</p>
            <br>

            <p>Age + A = {{ addToA }}</p>
            <p>Age + B = {{ addToB }}</p>

        </div>

        <!-- Link to repo from the youtube tutorial on wednesday -->
        <a v-on:click.prevent="click" href="https://vuejs.org/v2/guide/">Click ME!</a>


        <h4>Keyboard events</h4>

        <label>Dog:</label>
        <input type="text" v-model="dog" @keydown.enter="logDog">
        <label>Cat</label>
        <input type="text" @keydown.alt.enter="logCat">



        <h1> Form Begins Here:::</h1>
        <label>Name:</label>
        <input v-model="form.name" 
        class="input"
         type="text">
        
         <!-- v-bind:class="{'is-danger': errors.has('name')}"
         v-validate="'required|min:3'" -->

        <br>
        <br>
        <label class="label">Message:</label>

        
          <textarea class="textarea" v-model="form.message"></textarea>
        


        <ul>
            <li v-for="(item, k) in form">
                <strong>{{ k }}:</strong> {{ item }}
            </li>

        </ul>



    </div>
    <!-- Sourced javascript file -->
    <!-- only works at bottom for  -->
    <!-- some reason -- more research required -->
    <script src="app.js"></script>
</body>

</html>